<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg %n" />
    <property name="APPLICATION_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg %n" />
    <property name="API_PATTERN" value="%msg%n" />
    <property name="APPLICATION_FILE_NAME" value="logs/application.log" />
    <property name="API_FILE_NAME" value="logs/api.log" />
    <property name="DATA_FILE_NAME" value="logs/data.log" />
    <property name="LOG_NAME_PATTERN" value="/logs/backup/application/application-%d{yyyy-MM-dd-HH-mm}.%i.log" />
    <property name="API_LOG_NAME_PATTERN" value="/logs/backup/api/api-%d{yyyy-MM-dd-HH-mm}.%i.log" />
    <property name="DATA_LOG_NAME_PATTERN" value="/logs/backup/data/data-%d{yyyy-MM-dd-HH-mm}.%i.log" />
    <property name="MAX_FILE_SIZE" value="10MB" />
    <property name="TOTAL_SIZE" value="30MB" />
    <property name="MAX_HISTORY" value="7" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${CONSOLE_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION_ROLLING_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${APPLICATION_PATTERN}</pattern>
        </encoder>

        <file>${APPLICATION_FILE_NAME}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_NAME_PATTERN}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>            
            <totalSizeCap>${TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="API_ROLLING_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${API_PATTERN}</pattern>
        </encoder>

        <file>${API_FILE_NAME}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${API_LOG_NAME_PATTERN}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
    </appender>


    <appender name="DATA_ROLLING_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerData>true</includeCallerData>
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.CompositeJsonGeneratorDecorator">
                <decorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
                <decorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                    <defaultMask>XXXX</defaultMask>
                    <path>password</path>
                </decorator>
            </jsonGeneratorDecorator>
        </encoder>

        <file>${DATA_FILE_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${DATA_LOG_NAME_PATTERN}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="jdbc" level="OFF" additive="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APPLICATION_ROLLING_LOG_FILE"/>
    </logger>

    <logger name="jdbc.sqlonly" level="DEBUG" additive="false" >
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APPLICATION_ROLLING_LOG_FILE"/>
    </logger>

    <logger name="jdbc.sqltiming" level="OFF" additive="false" >
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APPLICATION_ROLLING_LOG_FILE"/>
    </logger>

    <logger name="org.hibernate.SQL" level="DEBUG" additive="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APPLICATION_ROLLING_LOG_FILE"/>
    </logger>

    <logger name="com.api.knowknowgram.api" level="INFO" additive="true" >
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="API_ROLLING_LOG_FILE"/>
    </logger>

    <logger name="com.api.knowknowgram.data" level="INFO" additive="true" >
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DATA_ROLLING_LOG_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APPLICATION_ROLLING_LOG_FILE"/>
    </root>
</configuration>
